/Yolov11-Wall & Road Cracks-Detection/data
/Yolov11-License Plate Recognition/data
~WRL1592.tmp
~WRL0982.tmp
~$chine Learning.docx
.idea
.vscode
/Car Recognition & Classification/modules
/Car Recognition & Classification/__pycache__
/Car Recognition & Classification/sort
/Car Recognition & Classification/pipeline_outputs
/Car Recognition & Classification/Model Test Input